@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: hsl(240, 67%, 8%);
  color: #fff;
}

h1 {
  font-size: 28px;
  font-family: "Antonio";
  font-weight: 400;
  padding: 1rem;
}

h2 {
  font-size: 40px;
  font-family: "Antonio";
  letter-spacing: -1.5;
}

h3 {
  font-size: 12px;
  font-family: "Spartan";
  letter-spacing: 2.6;
  font-weight: 700;
}

h4 {
  font-size: 11px;
  font-family: "Spartan";
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-family: "Spartan";
  font-weight: 400;
  color: hsl(240, 6%, 54%);
}

a {
  color: hsl(0, 0%, 75%);
  text-decoration: none;
  padding: 1rem;
}

/* -----------------------------------------------PlanetNav */

.planet-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsla(0, 0%, 100%, 25%);
}

.planet-nav-list {
  display: flex;
  margin: 0.5rem;
}

.planet-main {
  height: 100vh;
}
