@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");

#root {
  --font-xl: 80px;
  --line-height-xl: 103px;

  --font-large: 40px;
  --line-height-l: 52px;
  --letter-spc-l: -1.5px;

  --font-med: 12px;
  --line-height-m: 25px;
  --letter-spc-m: 2.6px;

  --font-small: 11px;
  --letter-spc-s: 1px;

  --font-p: 14px;

  --font-spartan-reg: "Spartan";
  --font-spartan-bold: "Spartan Bold";
  --font-antonio: "Antonio";
  --font-white: #fff;
  --font-dark-gray: #38384f;
  --font-lgt-gray: #838391;
  --main-bg: #070724;

  --btn-bg: #070724;
  --btn-active: #419ebb;
  --btn-hover: #38384f;

  --border: 1px solid #38384f;

  --mercury: hsla(194, 48%, 49%, 1);
  --venus: hsla(33, 82%, 61%, 1);
  --earth: rgb(163, 120, 231);
  --mars: hsla(10, 63%, 51%, 1);
  --jupiter: hsla(2, 68%, 53%, 1);
  --saturn: hsla(17, 73%, 46%, 1);
  --uranus: hsla(169, 73%, 44%, 1);
  --neptune: hsla(222, 87%, 56%, 1);
}

* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: hsl(240, 67%, 8%);
  color: #fff;
}

h1 {
  font-size: 28px;
  font-family: var(--font-antonio);
  font-weight: 400;
  padding: 1rem;
}

h2 {
  font-size: 40px;
  font-family: "Antonio";
  letter-spacing: -1.5;
}

h3 {
  font-size: 12px;
  font-family: "Spartan";
  letter-spacing: 2.6;
  font-weight: 700;
}

h4 {
  font-size: 11px;
  font-family: "Spartan";
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-family: "Spartan";
  font-weight: 400;
  color: var(--font-white);
  line-height: var(--line-height-m);
}

button {
  cursor: pointer;
}

a {
  color: hsl(0, 0%, 75%);
  text-decoration: none;
  margin: 0.75rem;
  transition: ease-in-out 0.2s;
}

a:hover {
  color: hsl(0, 0%, 100%);
}

/* -----------------------------------------------PlanetNav */

.planet-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsla(0, 0%, 100%, 25%);
}

.planet-nav-list {
  display: flex;
  margin: 0.5rem 0.75rem 0.5rem 0;
}

.planet-nav-list a {
  position: relative;
}

.planet-nav-list a::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 0;
  bottom: 45px;
  overflow: hidden;
  transition: width 0.25s ease;
}
.planet-nav-list a:hover::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  bottom: 45px;
  overflow: hidden;
  transition: width 0.3s ease;
}

.planet-nav-list a.Mercury::before {
  background-color: hsla(194, 48%, 49%, 1);
}
.planet-nav-list a.Venus::before {
  background: hsla(33, 82%, 61%, 1);
}
.planet-nav-list a.Earth::before {
  background: hsla(263, 67%, 51%, 1);
}
.planet-nav-list a.Mars::before {
  background: hsla(10, 63%, 51%, 1);
}
.planet-nav-list a.Jupiter::before {
  background: hsla(2, 68%, 53%, 1);
}
.planet-nav-list a.Saturn::before {
  background: hsla(17, 73%, 46%, 1);
}
.planet-nav-list a.Uranus::before {
  background: hsla(169, 73%, 44%, 1);
}
.planet-nav-list a.Neptune::before {
  background: hsla(222, 87%, 56%, 1);
}

/* //------------------------------------------  Planet - Main */

.planet-main {
  min-height: 100vh;
}

.planet-main-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 3rem auto 0;
  width: 100%;
  max-width: 1190px;
}

.planet-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-main-overview {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.planet-main-overview h1 {
  font-size: var(--font-xl);
  padding: 0 0 1rem 0;
}

.source-link {
  font-family: var(--font-spartan-reg);
  color: var(--font-lgt-gray);
}

.source-link a span {
  text-decoration: underline;
}

.planet-img-btn-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 2.5rem 0;
}

/* .planet-img-span {
  color: var(--font-white);
  padding-left: 0.5rem;
}

.planet-img-btn:hover {
  background-color: var(--btn-hover);
}

.planet-img-btn:active {
  background: var(--btn-active);
} */

.planet-data-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 970px;
  margin: 0 auto;
}

.planet-data-card {
  border: var(--border);
  padding: 1rem 3rem 1rem 1rem;
  margin: 2rem 0.75rem;
  width: 100%;
  text-align: left;
}

.planet-data-card h4 {
  color: var(--font-lgt-gray);
}

.planet-data-card h2 {
  font-family: var(--font-antonio);
  font-weight: 400;
}
